SECRET_KEY=your-secret-key
ALLOWED_ORIGINS=http://localhost:3000,https://your-frontend.com
AUDIO_UPLOAD_DIR=./uploads/audio
CEREBRAS_API_KEY=your-cerebras-api-key
ASSEMBLY_API_KEY=your-assembly-api-key
SUPABASE_URL=
SUPABSE_KEY=